/*
 * 
 * DO NOT USE absolute paths in url's. Use relative paths instead.
 * 
 */

h1 {
	font-size: 18px;
	border-bottom: 1px solid gray;
}

table {
	padding-left: 16px;
}

.home + td + .file-name > a:before, .parent + td + .file-name > a:before {
	content: "[";
}

.home + td + .file-name > a:after, .parent + td + .file-name > a:after {
	content: "]";
}

/*
.directory + td + .file-name > a:before {
	content: "[";
}
*/

.directory + td + .file-name > a:after {
	content: "/";
}

.file-size {
	padding-left: 30px;
	text-align: right;
}

.file-unit {
	padding-left: 2px;
	text-align: right;
}

.file-modified-date{
	padding-left: 20px;
	text-align: right;
}

.file-modified-time {
	padding-left: 10px;
	text-align: right;
}

.peek {
	width: 16px;
}

td {
	background-position: center center;
	background-repeat: no-repeat;
}
	
.peek a {
	padding-left: 16px;
	background-position: center center;
	background-image: url(img/eye.png);
}

.home, .parent, .directory {
	padding-left: 16px;
}


.home {
	background-image: url(img/application-home.png);
}

.parent {
	background-image: url(img/blue-folder-horizontal-parent.png);
}

.directory {
	background-image: url(img/blue-folder-horizontal.png);
}

.jar, .zip {
	background-image: url(img/blue-folder-horizontal-zipper.png);
}

.pdf {
	background-image: url(img/blue-document-pdf.png);
}

.text, .xml, .html {
	background-image: url(img/blue-document-text.png);
}

.image {
	background-image: url(img/image.png);
}

.unknown {
	background-image: url(img/blue-document.png);
}
